body{
    background-image: url("./images/background.jpg");
}

h1 {
    font-size: 60pt;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -2px 0 #0b8792,  
                   0px -2px 0 #0b8792,
                   0px  2px 0 #0b8792,
                   0px  2px 0 #0b8792,
                  -2px  0px 0 #0b8792,  
                   2px  0px 0 #0b8792,
                  -2px  0px 0 #0b8792,
                   2px  0px 0 #0b8792,
                  -2px -2px 0 #0b8792,  
                   2px -2px 0 #0b8792,
                  -2px  2px 0 #0b8792,
                   2px  2px 0 #0b8792,
                  -2px  8px 0 #0b8792,
                   0px  8px 0 #0b8792,
                   2px  8px 0 #0b8792,
                   0 9px 1px rgba(0,0,0,.1),
                   0 0 2px rgba(0,0,0,.1),
                   0 2px 3px rgba(0,0,0,.3),
                   0 12px 2px rgba(0,0,0,.2),
                   0 8px 8px rgba(0,0,0,.25),
                   0 14px 14px rgba(0,0,0,.2),
                   0 22px 22px rgba(0,0,0,.15);
  }

  .form-login{
      background-color: rgba(0,0,0,.6);
      padding: 20pt;
  }

$blue:    #0b8792 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$primary:       $blue;

$primary:       $blue;
$secondary:     $orange;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;



@import "../node_modules/bootstrap/scss/bootstrap";
