body, html{
    height: 100%;
}
body{
    background-image: url("./images/background.jpg");
}

.height-screen-all{
     height: 100%;
   }



h1 {
    font-size: 60pt;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -2px 0 #0b8792,  
                   0px -2px 0 #0b8792,
                   0px  2px 0 #0b8792,
                   0px  2px 0 #0b8792,
                  -2px  0px 0 #0b8792,  
                   2px  0px 0 #0b8792,
                  -2px  0px 0 #0b8792,
                   2px  0px 0 #0b8792,
                  -2px -2px 0 #0b8792,  
                   2px -2px 0 #0b8792,
                  -2px  2px 0 #0b8792,
                   2px  2px 0 #0b8792,
                  -2px  8px 0 #0b8792,
                   0px  8px 0 #0b8792,
                   2px  8px 0 #0b8792,
                   0 9px 1px rgba(0,0,0,.1),
                   0 0 2px rgba(0,0,0,.1),
                   0 2px 3px rgba(0,0,0,.3),
                   0 12px 2px rgba(0,0,0,.2),
                   0 8px 8px rgba(0,0,0,.25),
                   0 14px 14px rgba(0,0,0,.2),
                   0 22px 22px rgba(0,0,0,.15);
  }

  .form-login{
      background-color: rgba(0,0,0,.6);
      padding: 20pt;
  }
